# Node
node_modules/

# Logs
logs/
log/
*.log

# Reports
reports/
report/
allure-results/
allure-report/
cucumber-report/

# Temp
.tmp/
temp/
.cache/

# Env
.env
.env.*

# Build
dist/
build/

# IDE / OS
.DS_Store
.idea/
.vscode/
